@import "variables";
@import "helpers";
@import "@antOverrides";

@font-face {
  font-family: SFProDisplay;
  src: url("./fonts/SFPRODISPLAYREGULAR.OTF") format("truetype");
}

@font-face {
  font-family: SFProDisplayBold;
  src: url("./fonts/SFPRODISPLAYBOLD.OTF") format("truetype");
}

/* General component styles */
body {
  background-color: #ffffff;
  color: #4b4b4b;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: #343c6a;
}

body,
h1,
h2,
h3,
h4,
h5,
button,
input {
  font-family: SFProDisplay, SFProDisplayBold, "Roboto", sans-serif !important;
}

label {
  color: #343c6a;
}

.cursor-pointer {
  cursor: pointer;
}

.text-underline {
  text-decoration: underline;
}

.font-bold {
  font-family: SFProDisplayBold !important;
}

.fade-in {
  animation: fade-in 0.5s forwards;
}

.fade-out {
  animation: fade-in 0.5s reverse;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.app-wrapper {
  display: inline-block;
  width: 78%;
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 40px 0 30px 20%;
}
