.home-pane {
  width: 80vw;
  margin-left: 18vw;
  padding: 1rem;
  color: black;
}
.main-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  font-family: SFProDisplayBold;
  opacity: 1;
}
